@model Xm.Trial.Models.BlogViewModel

@{
    ViewBag.Title = Model.Title;
}

@foreach (var post in Model.Posts)
{
    var detailsUrl = Url.Action("Details", new RouteValueDictionary { ["id"] = post.Id });

    <article>
        <header>
            <h2><a href="@detailsUrl">@post.Title</a></h2>
            @Html.Partial("PostMeta", post)
        </header>
        
        <a href="@detailsUrl">
            <figure>
                <img src="@post.Picture" alt="@post.Title">
                <figcaption>@post.PictureCaption</figcaption>
            </figure>
        </a>

        <p>@post.Snippet</p>
    </article>
}
